extends layout

block content
  h1= title
  em Number Of Categories #{category_count}
  each category in categories
    li
      a(href=`${category.url}`)= category.name
  br
  br
  a(href="/categories/create") Create New Category
  br
  a(href="/items/create") Create New Item 